body ::before {
    background: url("noon.jpg") no-repeat center center fixed;
    content: "";
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    z-index: -1;
}

nav {
    background: linear-gradient(
        rgb(243, 216, 97),    
        rgb(78, 246, 196)     
    );
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 30px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 0 15px;
    padding: 5px 50px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background: linear-gradient(
        rgb(78, 246, 196),
        rgb(243, 216, 97)
    );

    color: rgb(0, 0, 0);
    border-radius: 5px;
}

div {
    background: linear-gradient(
        rgba(135, 245, 212, 0.829),   
        rgb(243, 216, 97)
    );
    color: black;
    padding: 15px;
    text-align: center;
    margin: 0 auto 30px auto;
    width: 60%;
    border-radius: 25px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    margin-top: 20px;
    border: #000000 5px solid;
}

ul {
    text-align: left;
    display: inline-block;
    margin: 20px 0;
    font-size: larger;
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

ul li a:hover {
    background-color: rgb(0, 0, 0);
    color:  rgb(226, 177, 53);
    border-radius: 5px;
    transition: 0.3s;
}

.proj-title {
    text-align: center;
    color: rgb(255, 229, 83);
}

.project-header {
    font-size: 24px;
    margin-bottom: 10px;
}

.language-drawer {
    text-align: center;
    margin: 20px 0;
}

.language-drawer ul {
    padding: 0;
    display: inline-block;
}

.language-drawer li {
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.language-drawer li a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}

.language-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

.language-grid ul {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.project-item {
    margin-bottom: 20px;
    padding: 24px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

.project-item:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}

.project-item a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#main-content {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
